<template>
    <div>
        <div class="submit-page">
        
		<!-- <div class="notification notice large margin-bottom-55">
			<h4>Don't Have an Account?</h4>
			<p>If you don't have an account you can create one by entering your email address in contact details section. A password will be automatically emailed to you.</p>
		</div> -->

		<!-- Section -->
		<h3>Property Information</h3>
		<div class="submit-section">

			<!-- Title -->
			<div class="form">
				<h5>Property Title <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
				<input v-model="propertyForm.title" class="search-field" type="text"/>
			</div>

			<!-- Row -->
			<div class="row with-forms">

				<!-- Status -->
				<div class="col-md-4">
					<h5>Status <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
					<select  v-model="propertyForm.status">
						<option :value="item.id" :key="key" v-for="(item, key) in getStatus">
                            {{ item.label }}
                        </option>
					</select>
				</div>

                <div class="col-md-4">
					<h5>Expiration Date <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
					<el-date-picker
                        v-model="propertyForm.expiration_date"
                        type="date"
                        value-format="yyyy-MM-dd"
                        placeholder="Pick a day">
                    </el-date-picker>
				</div>

			</div>
			<!-- Row / End -->


			<!-- Row -->
			<div class="row with-forms">

				<!-- Price -->
				<div class="col-md-4">
					<h5>Price <i class="tip" data-tip-content="Type overall or monthly price if property is for rent"></i></h5>
					<div class="select-input disabled-first-option">
						<input type="text" data-unit="BDT" v-model="propertyForm.price">
					</div>
				</div>
				
				<!-- Area -->
				<div class="col-md-4">
					<h5>Area</h5>
					<div class="select-input disabled-first-option">
						<input type="text" data-unit="Sq Ft" v-model="propertyForm.size">
					</div>
				</div>

				<!-- Rooms -->			
				<div class="col-md-4">
					<h5>Rooms</h5>
					<select  v-model="propertyForm.rooms">
						<option label="blank"></option>	
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

			</div>
			<!-- Row / End -->

		</div>
		<!-- Section / End -->

        <!-- Section -->
		<h3>Location</h3>
		<div class="submit-section">

			<!-- Row -->
			<div class="row with-forms">

				<!-- Address -->
				<div class="col-md-6">
					<h5>Address</h5>
					<gmap-autocomplete 
                        :value="place"
                        @place_changed="setPlace"
                        :options="{
                        strictBounds: false
                        }"
                        id="autocomplt"
                        v-model="propertyForm.address"
                        @search="search"
                        >
                    </gmap-autocomplete>
				</div>

                <!-- Area -->
				<div class="col-md-6">
					<h5>Area</h5>
					<input type="text" v-model="propertyForm.area">
				</div>

				<!-- City -->
				<div class="col-md-6">
					<h5>City</h5>
					<input type="text" v-model="propertyForm.city">
				</div>

				<!-- Zip-Code -->
				<div class="col-md-6">
					<h5>Zip Code</h5>
					<input type="text" v-model="propertyForm.zip_code">
				</div>

			</div>
			<!-- Row / End -->

		</div>
		<!-- Section / End -->

        <!-- Section -->
		<h3>Set Area In Google Maps</h3>
		<div class="submit-section">
            <div class="vactor-map">
                <gmap-map
                map-type-id="terrain"
                :center="center"
                :zoom="16"
                style="width: 100%; height: 500px"
                :clickable="true"
                :draggable="true"
                :options="{streetViewControl: true}"
                @click="getMap">

                    <gmap-marker 
                    :key="index" 
                    v-for="(m, index) in markers" 
                    :position="m.position" 
                    :clickable="true" :draggable="true" 
                    @dragend="getMap"></gmap-marker>
        
                </gmap-map>

            </div>


            <div class="pano-map">
                <gmap-street-view-panorama class="pano" :position="{lat: afterSet.lat, lng: afterSet.lng}" :pov="{heading: 0, pitch: 10}" :zoom="1" @pano_changed="updatePano">
                </gmap-street-view-panorama>
            </div>
		</div>
		<!-- Section / End -->


		<!-- Section -->
		<h3>Gallery</h3>
		<div class="submit-section">
            <el-upload
                class="upload-demo"
                drag
                :action="uploadImageRoute"
                :data="dataToken"
                :on-success="handleAvatarSuccess"
                :on-preview="handlePreview"
                :before-remove="handleRemove"
                @remove="handleRemove"
                :file-list="propertyForm.fileList"
                list-type="picture"
                multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
            </el-upload>
			<!-- <form action="http://www.vasterad.com/file-upload" class="dropzone" ></form> -->
		</div>
		<!-- Section / End -->


		


		<!-- Section -->
		<h3>Detailed Information</h3>
		<div class="submit-section">

			<!-- Description -->
			<div class="form">
				<h5>Description</h5>
				<textarea v-model="propertyForm.description" class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true"></textarea>
			</div>

			<!-- Row -->
			<div class="row with-forms">

				<!-- Age of Home -->
				<!-- <div class="col-md-4">
					<h5>Building Age <span>(optional)</span></h5>
					<select  >
						<option label="blank"></option>	
						<option>0 - 1 Years</option>
						<option>0 - 5 Years</option>
						<option>0 - 10 Years</option>
						<option>0 - 20 Years</option>
						<option>0 - 50 Years</option>
						<option>50 + Years</option>
					</select>
				</div> -->

				<!-- Beds -->
				<div class="col-md-4">
					<h5>Bedrooms <span>(optional)</span></h5>
					<select  v-model="propertyForm.bedrooms" >
						<option label="blank"></option>	
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<!-- Baths -->
				<div class="col-md-4">
					<h5>Bathrooms <span>(optional)</span></h5>
					<select  v-model="propertyForm.bathrooms">
						<option label="blank"></option>	
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

			</div>
			<!-- Row / End -->


			<!-- Checkboxes -->
			<!-- <h5 class="margin-top-30">Other Features <span>(optional)</span></h5>
			<div class="checkboxes in-row margin-bottom-20">
		
				<input id="check-2" type="checkbox" name="check">
				<label for="check-2">Air Conditioning</label>

				<input id="check-3" type="checkbox" name="check">
				<label for="check-3">Swimming Pool</label>

				<input id="check-4" type="checkbox" name="check" >
				<label for="check-4">Central Heating</label>

				<input id="check-5" type="checkbox" name="check">
				<label for="check-5">Laundry Room</label>	


				<input id="check-6" type="checkbox" name="check">
				<label for="check-6">Gym</label>

				<input id="check-7" type="checkbox" name="check">
				<label for="check-7">Alarm</label>

				<input id="check-8" type="checkbox" name="check">
				<label for="check-8">Window Covering</label>
		
			</div> -->
			<!-- Checkboxes / End -->

		</div>
		<!-- Section / End -->


		<!-- Section -->
		<h3>Contact Details</h3>
		<div class="submit-section">

			<!-- Row -->
			<div class="row with-forms">

				<!-- Name -->
				<div class="col-md-4">
					<h5>Name</h5>
					<input type="text" v-model="propertyForm.optional_name">
				</div>

				<!-- Name -->
				<div class="col-md-4">
					<h5>Phone <span>(optional)</span></h5>
					<input type="text" v-model="propertyForm.optional_phone">
				</div>

			</div>
			<!-- Row / End -->

		</div>
		<!-- Section / End -->


		<div class="divider"></div>
        <button class="button preview margin-top-5" @click="updateProperty()">Submit <i class="fa fa-arrow-circle-right"></i></button>

		</div>
    </div>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
export default {
    name: 'new_property',
    components: {
        VueRecaptcha
    },
    data() {
        return {
            place: 'Sylhet',
            afterSet : {
                lat: 24.8949,
                lng: 91.8687
            },
            center: {
                lat: 24.8949,
                lng: 91.8687
            },
            markers: [
                {
                    position: {
                        lat: 24.8949,
                        lng: 91.8687
                    }
                }
            ],
            propertyForm: {}
        }
    },
    computed: {
        getStatus() {
            return window.home.status;
        },
        getTypes() {
            return window.home.types;
        },
        uploadImageRoute() {
            return window.home.upload_image;
        },
        dataToken() {
            return {
                _token: window.home.token
            };
        },
        reCaptchaVefied() {
            console.log('yes')
            if(window.grecaptcha.hasOwnProperty('getResponse')) {
                console.log('yes')
                return window.grecaptcha.getResponse() ? false : true;
            }
            return true;
        }
    },
    methods: {
        handleAvatarSuccess(res, file) {
            this.propertyForm.fileList.push(file)
            console.log(res, file)
        },
        typeChange(event) {
            console.log(event.target.value)
        },
        handlePreview() {

        },
        handleRemove(file, fileList) {
            const gallery_url = home.gallery_remove_url;

            axios.post(gallery_url, file)
                 .then(({ data: { status, code, message } }) => {
                     this.$notify({ 
                         type: status,
                         title: status,
                         message
                      })
                 })
        },
        search(data) {
                
        },
        setPlace(place){
            console.log(place)
            this.propertyForm.area = place.name;
            place.address_components.map(item => {
                item.types.map(types => {
                    if(types == "postal_code"){
                        this.propertyForm.zip_code = item.long_name
                    }
                    if(types == "locality"){
                        this.propertyForm.city = item.long_name
                    }
                    if(types == "route"){
                        this.propertyForm.address =item.long_name
                    }
                })
            })
            //this.propertyForm.address_line_1 = $('#map').val();
            
            //this.propertyForm.place_id = place.place_id
            this.propertyForm.lat = place.geometry.location.lat();
            this.propertyForm.lng = place.geometry.location.lng()
            this.center = {
                lat : place.geometry.location.lat(),
                lng : place.geometry.location.lng()
            };
                this.markers = [
                {
                    position: 
                    {
                        lat : place.geometry.location.lat(),
                        lng : place.geometry.location.lng()
                    }
                }
            ]
            //this.propertyForm.markers = this.markers
            this.afterSet = {
                lat : place.geometry.location.lat(),
                lng: place.geometry.location.lng()
            }
        },
        updatePano(pano){
            var sv = new google.maps.StreetViewService();
            sv.getPanoramaById(pano,(data, status) => {
                this.markers = [
                {
                    position:
                        {
                            lat : data.location.latLng.lat(),
                            lng : data.location.latLng.lng()
                            }
                    }
                ]
                console.log(this.markers)
                //this.propertyForm.markers = this.markers
            });
        },
        getMap(place){
            console.log('a',place)
            this.propertyForm.lat = place.latLng.lat();
            this.propertyForm.lng = place.latLng.lng()
            this.afterSet = {
                lat : place.latLng.lat(),
                lng: place.latLng.lng()
            }
            
        },
        updateProperty() {
            const url = home.property_update_url;
            this.propertyForm._token = home._token;
            axios.post(url, this.propertyForm)
                    .then((response) => {
                        this.$notify({
                            type: 'success',
                            title: 'Successfull',
                            message: 'Successfully Created!'
                        })
                    })
                    .catch((err) => {
                        console.log(err)
                    })
        },
        setAnotherField({ lat, lng, gallery }) {
            lat = parseFloat(lat);
            lng = parseFloat(lng);

            this.afterSet = {
                lat: lat || 24.8949,
                lng: lng || 91.8687
            }

            this.center = {
                lat: lat || 24.8949,
                lng: lng || 91.8687
            }
            this.markers = [
                {
                    position: {
                        lat: lat || 24.8949,
                        lng: lng || 91.8687
                    }
                }
            ]

            this.propertyForm.fileList = gallery

        }
    },
    mounted() {
        $('#autocomplt').keyup((event) => {
            this.propertyForm.address = event.target.value
        })
        
        this.propertyForm = home.property;

        this.setAnotherField(this.propertyForm);

        // setInterval(() => {
        //     console.log(grecaptcha.getResponse())
        // })
    }
}
</script>

<style>
    .el-input__prefix {
        margin-top: -10px;
    }
    .upload-demo {
        width: 100%;
    }
</style>
