<template>
    <div class="row">
        <div class="col-md-8 my-profile">
            <h4 class="margin-top-0 margin-bottom-30">My Account <strong>({{ setPaymentId }})</strong></h4>

            <label>Your Name</label>
            <input v-model="getUser.name" type="text">

            <label>Occupation</label>
            <input v-model="getUser.occupation" type="text">

            <label>Phone</label>
            <input v-model="getUser.phone_number" type="text">

            <label>Email</label>
            <input disabled v-model="getUser.email" type="text">

            <label>Payment ID</label>
            <input disabled v-model="setPaymentId" type="text">

            <label>Subscribe Notification For Mobile</label>
            <el-switch
                v-model="getUser.notification_email"
                active-text="Active"
                inactive-text="Inactive"
                active-value="active"
                inactive-value="inactive">
            </el-switch>

            <label>Subscribe Notification For Mobile</label>
            <el-switch
                v-model="getUser.notification_mobile"
                active-text="Active"
                inactive-text="Inactive"
                active-value="active"
                inactive-value="inactive">
            </el-switch>

            <h4 class="margin-top-50 margin-bottom-25">About Me</h4>
            <textarea v-model="getUser.about_me" id="about" cols="30" rows="8"></textarea>

            <button @click="updateMyProfile" class="button margin-top-20 margin-bottom-20">Save Changes</button>
        </div>

        <div class="col-md-4">
            <!-- Avatar -->
            <div class="edit-profile-photo">
                <img :src="getUser.avatar" alt="">
                <div class="change-photo-btn">
                    <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                        <input type="file" class="upload" />
                    </div>
                </div>
            </div>

        </div>


    </div>
</template>

<script>
export default {
    name:'profile',
    data() {
        return {
            getUser: home.details
        }
    },
    computed: {
        setPaymentId() {
            return 'GD' + this.getUser.payment_id;
        }
    },
    methods: {
        updateMyProfile() {
            const update_url = home.update_url;

            axios.post(update_url, this.getUser)
                 .then((response) => {
                     if (response.data.code == 200) {
                         this.$notify({
                             title: response.data.status,
                             type: response.data.status,
                             message: response.data.message
                         })
                     }
                 })
                 .catch((err) => {
                     console.log(err)
                 })
        }
    },
    mounted() {

    }
}
</script>
