<template>
    <div>
        <table class="manage-table responsive-table">

            <tr>
                <th><i class="fa fa-file-text"></i> Property</th>
                <th class="expire-date"><i class="fa fa-calendar"></i> Expiration Date</th>
                <th></th>
            </tr>

            <!-- Item #1 -->
            <tr :key="key" v-for="(property, key) in myProperty">
                <td class="title-container">
                    <img :src="property.property_profile_pic" :alt="property.uuid">
                    <div class="title">
                        <h4><a href="#">{{ property.title }}</a></h4>
                        <span>{{ property.long_address }}</span>
                        <span class="table-property-price">৳900 / monthly</span>
                    </div>
                </td>
                <td class="expire-date">{{ setExpireDate(property.expiration_date) }}</td>
                <td class="action">
                    <!-- <a :href="property.edit_url"><i class="fa fa-pencil"></i> Edit</a> -->
                    <a :href="property.url"><i class="fa  fa-eye-slash"></i> View</a>
                    <!-- <a href="javascript:void(0)" class="delete" @click="openDeleteModal(property.id, property.uuid, property.model)"><i class="fa fa-remove"></i> Delete</a> -->
                    <div class="social_links">
                        <a target="_blank" :href="property.share.facebook.uri"><i class="im im-icon-Facebook"></i></a>
                        <a target="_blank" :href="property.share.twitter.uri"><i class="im im-icon-Twitter-2"></i></a>
                    </div>
                </td>
            </tr>

        </table>
        <el-alert
            v-if="myProperty.length == 0"
            style="width: 100%"
            title="Please Add New Property"
            type="warning"
            show-icon
        ></el-alert>
        <a href="submit-property.html" class="margin-top-40 button">Submit New Property</a>
    </div>
</template>

<script>
export default {
    name: 'property',
    data() {
        return {
            myProperty: [],
            dialogVisible: false,
            deleteItem: {

            }
        }
    },
    methods: {
        openDeleteModal(id, uuid, model) {
            this.dialogVisible = true;
            this.deleteItem = {
                id, uuid, model
            }
        },
        confirmDelete() {
            let { id, uuid, model } = this.deleteItem
            let url = home.property_remove.replace('#id#', id)
            url = url.replace('#uuid#', uuid)
            axios.post(url , { model })
                 .then(({ data: { status, message, code }}) => {
                     this.$notify({
                         type: status,
                         title: status,
                         message
                     })
                     this.handleClose()
                 })
                 .catch((err) => {
                     console.log(err)
                 })
    
        },
        handleClose() {
            this.dialogVisible = false
        },
        setExpireDate(date) {
            return moment(date).format('MMMM D, YYYY');
        },
        getMyProperty() {
            const url = home.my_save_property;

            axios.get(url)
                 .then((response) => {
                     this.myProperty = response.data.property;
                 })
                 .catch((err) => {
                     console.log(err)
                 })
        }
    },
    mounted() {
        this.getMyProperty()
    }
}
</script>


<style>
    .social_links {
        display: flex;
    }
</style>
