<template>
    <div>
        <table class="manage-table responsive-table">

            <tr>
                <th><i class="fa fa-file-text"></i> Address</th>
                <th><i></i> Action</th>
                <th></th>
            </tr>

            <!-- Item #1 -->
            <tr :key="key" v-for="(property, key) in mySearchListing">
                <td class="title-container">
                   {{ property.address }}
                </td>
                <td class="action">
                    <el-button @click="openDeleteModal(property.id)" data-tip="Remove" size="mini" type="danger" icon="el-icon-delete"></el-button>
                </td>
            </tr>

        </table>
        <el-alert
            v-if="mySearchListing.length == 0"
            style="width: 100%"
            title="Please Add New Property"
            type="warning"
            show-icon
        ></el-alert>
        <a href="submit-property.html" class="margin-top-40 button">Submit New Property</a>

        <el-dialog
        title="Remove This Property"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <span>Do you want to remove this property ?</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button type="danger" @click="confirmDelete">Confirm, Delete</el-button>
        </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: 'property',
    data() {
        return {
            mySearchListing: [],
            dialogVisible: false,
            deleteItem: {

            }
        }
    },
    methods: {
        openDeleteModal(id) {
            this.dialogVisible = true;
            this.deleteItem = { id }
        },
        confirmDelete() {
            let { id } = this.deleteItem
            let url = home.remove_search_list.replace('#searchId#', id)
            axios.post(url)
                 .then(({ data: { status, message, code }}) => {
                     this.$notify({
                         type: status,
                         title: status,
                         message
                     })
                     this.handleClose()
                     this.getMyProperty()
                 })
                 .catch((err) => {
                     console.log(err)
                 })
    
        },
        handleClose() {
            this.dialogVisible = false
        },
        setExpireDate(date) {
            return moment(date).format('MMMM D, YYYY');
        },
        getMyProperty() {
            const url = home.my_search_listing;

            axios.get(url)
                 .then((response) => {
                     this.mySearchListing = response.data.search_area
                     console.log(response)
                 })
                 .catch((err) => {
                     console.log(err)
                 })
        }
    },
    mounted() {
        this.getMyProperty()
    }
}
</script>


<style>
    .social_links {
        display: flex;
    }
</style>
